.sidenav-container {
    height: 100vh;
    background: linear-gradient(to left top, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
}

mat-sidenav {
    width: 15%;
    /* background: linear-gradient(to right,hsl(236, 50%, 50%), hsl(195, 51%, 38%)); */
    background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
}

.content {
    padding: 8px;
}

mat-toolbar {
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to bottom, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
}

mat-toolbar.corner {
    background: linear-gradient(to right bottom, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
}

mat-nav-list span, mat-icon{
    color: aliceblue;
}
