<div class="container mt-5">
    <div class="grid gap-2 grid-cols-1">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><mat-icon>attach_money</mat-icon>
                    <span class="align-middle">Calcular Pontos</span>
                </div>
            </div>
        </div>
        <div class="card" (click)="AddPonto()">
            <div class="card-body">
                <div class="card-title"><mat-icon>control_point</mat-icon>
                    <span class="ml-3 align-middle">Adicionar Pontos</span>
                </div>
            </div>
        </div>
        <div routerLink="/pessoas" class="card">
            <div class="card-body">
                <div class="card-title"><mat-icon>people</mat-icon>
                    <span class="ml-3 align-middle">Gerenciar Pessoas</span>
                </div>
            </div>
        </div>
        <div class="card" (click)="cadastrarPlataforma()">
            <div class="card-body">
                <div class="card-title"><mat-icon>control_point</mat-icon>
                    <span class="ml-3 align-middle">Cadastrar Plataforma</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="card-title"><mat-icon>compare_arrows</mat-icon>
                    <span class="ml-3 align-middle">Transferir Pontos</span>
                </div>
            </div>
        </div>
    </div>
</div>