<div class="container mx-auto mt-5">
    <div>
        <div class="grid gap-2 grid-cols-1">
            <div routerLink="/pessoas" class="card">
                <div class="card-body">
                    <div class="card-title" style="transform: scale(2)"><mat-icon>person_add</mat-icon>
                        <span class="ml-2 text-sm align-middle">Adicionar Pessoa</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title" style="transform: scale(2)"><mat-icon>person_add</mat-icon>
                        <span class="ml-2 text-sm align-middle">Cadastrar Plataforma</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>